<div class="slider">

{% for block in section.blocks %}
    <div class="slider-card">
      {%render 'icon-quotes'%}
      <p>{{block.settings.text}}</p>
      <div class="details">
        <img class="user" src="{% if block.settings.image %}{{block.settings.image | img_url:'300x'}}{% else %}https://randomuser.me/api/portraits/men/{{ forloop.index }}1.jpg{% endif %}" alt="{{block.settings.name }} Testimonial">
        <p class="name">{{block.settings.name}}</p>
      </div>
    </div>

    {% endfor %}
  </div>

{% schema %}
  {
    "name": "Testimonial Slider",
    "settings": [],
    "blocks": [
      {
        "type": "testimonials",
        "name": "testimonials",
        "settings": [
          
            {
              "type": "richtext",
              "id": "text",
              "label": "Testimonial Text",
              "default": "<p>I love this Product!!</p>"
            },
            {
              "type": "text",
              "id": "name",
              "label": "Name",
              "default": "John Doe"
            },
            
              {
                "type": "image_picker",
                "id": "image",
                "label": "Select Testimonal Image"
              }
        ]
      }
    ],
    
    "presets":[
      {
        "name": "Testimonial Slider"
      }
    ]
  }
  
{% endschema %}
